<div class="bear-hero">
  <div class="bear-container">

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>Bearly Hangin On</h2>
    <hr>
    <div class="text-container">

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        Long board concept I drew for the Mantra Tattoo art show. Did it all with pen and ink.
      </p>
      <ul>
        <li>Illustration / Pen & Ink</li>
      </ul>

      <a class='t-green link-space' href="http://thebornreadies.bandcamp.com/" target="_blank"> Listen To Them Rock!!! </a>

    </div>
    </div>


    <hr>

    <!-- <div class="text-container"> -->
      <%= image_tag "intro-bear2.jpg", class:'bear-deck' %>
    <!-- </div> -->
  </div>

</div>
