<div class="detri-hero">
  <!-- <div class="container knob-space">
  <div class="col-12-12 knob-back"> -->
  <!-- <%= image_tag "knob-bg.jpg", class:"knob-back" %> -->

  <div class="detri-container">
    <%= image_tag "Detra-gnome-body.gif", class:"detri-body" %>
    <div class="eye-big"><%= image_tag "Detra-gnome-big-eye.gif" %></div>
    <div class="small-eyes">
      <div class="eye-left"><%= image_tag "Detra-gnome-small-eyes.gif" %></div>
    </div>
    <div class="on-btn">ON</div>
    <div class="sig-btn">
      <select>
        <option>2/4</option>
        <option>3/4</option>
        <option>4/4</option>
        <option>5/4</option>
        <option>7/4</option>
        <option>5/8</option>
        <option>6/8</option>
        <option>7/8</option>
      </select>
    </div>

    <div class="needle-btn">
      <div class="needle-con">

        <div class="needle-dot"></div>

        <div class="needle"></div>

      </div>
    </div>
    <div class="bpm-btn">
      <p>
        <input type="text" id="amount">
      </p>
    </div>

    <div id="slider-range-min"></div>

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>Detrignome</h2>
    <hr>

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        An evil gnome that climbed out of the deepest and darkest cavern
        to punish all that dares to challenge him! He takes the shape of a
        metronome and is unforgiving to annoy who misses a beat.
      </p>
      <ul>
        <li> JavaScript / jQuery / HTML / CSS / UI / UX</li>
      </ul>

      <a class='t-green' href="https://github.com/andrewpjames13/Andrews_Portfolio/blob/master/app/assets/javascripts/detrignome.js" target="_blank"> Github </a>

    </div>

    <hr>

  </div>

</div>

<script>
  metronome.init();
</script>
