<div class="detri-hero">
  <!-- <div class="container knob-space">
    <div class="col-12-12 knob-back"> -->
        <!-- <%= image_tag "knob-bg.jpg", class:"knob-back" %> -->
<div class="detri-bg">

  <p>
    <label for="amount"></label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>

  <div id="slider-range-min"></div>


</div>
</div>

<div class="dark-bg no-margin">

  <div class="container">
    <h2>Knob</h2>
    <hr>

      <div class="col-8-12 f-right resp">
        <p>
          I would love to hear from you.<br>
          Currently I am not available for freelance work.<br>
          But that doesnt mean that Im not interested in hearing about new projects.<br>
        </p>
          look@andrewjamesdesign.com
      </div>

    <hr>

    <div id="about" class="col-7-12">
      <h1>
          Full Stack<br>
          Development<br>
          & Design in<br>
          Denver, CO.
        </h1>
    </div>

    <div id="contact" class="col-5-12">
      <div class="pad-r">
        <h2>Contact</h2>
        <hr>
        <p>
          I would love to hear from you.<br>
          Currently I am not available for freelance work.<br>
          But that doesnt mean that Im not interested in hearing about new projects.<br>
        </p>
          look@andrewjamesdesign.com
      </div>
    </div>
  </div>

</div>
