<div class="dark-bg-p">
  <div class="form-body">
      <%= image_tag "&ru-header.png", class:"hlogo", alt:"Andrew James Design" %>
      <div class="container">
        <%= render 'form' %>

      </div>
  </div>
</div>
