<div class="gharmony-hero">
  <div class="gharmony-container">

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>g-harmony</h2>
    <hr>
    <div class="text-container">

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        A collaborative project to create a site for all of us in the gSchool
        class to share sites, code snippets and resources so we could all thrive together.
      </p>
      <ul>
        <li>Ruby / Rails / HTML / CSS / UI / UX</li>
      </ul>

      <a class='t-green link-space' href="https://g-harmony.herokuapp.com/" target="_blank"> Checkout the site </a>

    </div>
    </div>


    <hr>

  </div>

</div>
