<div class="dark-bg-p">
  <div class="form-body">
      <%= image_tag "&ru-header.png", class:"hlogo", alt:"Andrew James Design" %>
      <div class="container">
        <table>
          <tbody>
            <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.title, project_path(project) %></td>
              <td><%= link_to 'Edit', edit_project_path(project), class:"btn btn-info" %></td>
              <td><%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      </div>
  </div>
</div>
