<div class="knob-hero">
  <!-- <div class="container knob-space">
    <div class="col-12-12 knob-back"> -->
        <!-- <%= image_tag "knob-bg.jpg", class:"knob-back" %> -->
<div class="knob-bg">
<div class="knob-shadow">

    <div class="knob-surround">

      <div class="knob"></div>


        <div class="ticks">
          <div class="tick activetick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
        </div>
      </div>
    <!-- </div>
  </div> -->
</div>

</div>
</div>

<div class="dark-bg">

  <div id="capabilities" class="container">
    <h2>Capabilities</h2>
    <hr>

      <div class="col-2-12 f-right resp">
        <h3>Development</h3>
          <p>
            Ruby<br>
            Rails<br>
            HTML<br>
            CSS3<br>
          </p>
      </div>
      <div class="col-2-12 f-right resp">
        <h3>Web</h3>
        <p>
          Ruby<br>
          Rails<br>
          HTML<br>
          CSS3<br>
        </p>
      </div>
      <div class="col-2-12 f-right resp">
        <h3>Print</h3>
        <p>
          Ruby<br>
          Rails<br>
          HTML<br>
          CSS3<br>
        </p>
      </div>
      <div class="col-2-12 f-right resp">
        <h3>Brand + Identity</h3>
        <p>
          Ruby<br>
          Rails<br>
          HTML<br>
          CSS3<br>
        </p>
      </div>

    <hr>

    <div id="about" class="col-7-12">
      <h1>
          Full Stack<br>
          Development<br>
          & Design in<br>
          Denver, CO.
        </h1>
    </div>

    <div id="contact" class="col-5-12">
      <div class="pad-r">
        <h2>Contact</h2>
        <hr>
        <p>
          I would love to hear from you.<br>
          Currently I am not available for freelance work.<br>
          But that doesnt mean that Im not interested in hearing about new projects.<br>
        </p>
          look@andrewjamesdesign.com
      </div>
    </div>
  </div>

</div>
