<div class="knob-hero">

<div class="knob-bg">
<div class="knob-shadow">

    <div class="knob-surround">

      <div class="knob"></div>


        <div class="ticks">
          <div class="tick activetick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
        </div>
      </div>

</div>

</div>
</div>

<div class="dark-bg no-margin">

  <div class="container">
    <h2>Knob</h2>
    <hr>

      <div class="col-8-12 f-right resp">
        <p class='project-p'>
          A knob that does not turn it up to eleven it cranks all the way to twenty eight!

          Ever since I started designing Ive been fasinated by user interface design. I set out to create
          a knob that gave the user the feeling that they were actually grabbing and
          cranking up their favorite tunes!
        </p>
        <p class='t-green'>
          html / css / sass / javascript / jQuery
        </p>
      </div>

    <hr>

</div>

<script>
  knob.init();
</script>
