<div class="knob-hero">
  <!-- <div class="container knob-space">
    <div class="col-12-12 knob-back"> -->
        <!-- <%= image_tag "knob-bg.jpg", class:"knob-back" %> -->


    <div class="knob-surround">

      <div class="knob"></div>


        <div class="ticks">
          <div class="tick activetick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
          <div class="tick"></div>
        </div>
      </div>
    <!-- </div>
  </div> -->

</div>
