<div class="octa-hero">
  <div class="octa-container">

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>Octa</h2>
    <hr>
    <div class="text-container">

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        The three years I was at Octa I was in charge of creating a brand identity for the company.
        This included branding, packaging, instructions, marketing materials, trade show booth,
        web, UI and UX design. I also took on Art and Creative director, managing and sourcing packaging companies in China
        and doing studio photography.
        <br><br>
        The Dieline called Octas packaging one of three stand out packaging designs at the Consumer Electronic Show Case 2015.
        <a class='t-green' href="http://www.thedieline.com/blog/2015/1/7/ces-2015-packaging-spotlight-headphones-and-cases" target="_blank">Click here to read the article!</a>

      </p>
      <ul>
        <li>Package Design / Marketing / Advertising / Booth Design / Web Development / Creative Direction / Photography</li>
      </ul>

      <a class='t-green link-space' href="www.octa.com" target="_blank"> Visit the site </a>

    </div>
    </div>


    <hr>

  </div>

</div>
