<div class="tbr-hero">
  <div class="tbr-container">

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>The Born Readies</h2>
    <hr>
    <div class="text-container">

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        The Born Readies are booty shaking rock makin rollers in Denver Colorado.
        Making an album that has the look and feel of a classic album was important
        since the songs and the spirit of the band come from seventies influenced rock.
      </p>
      <ul>
        <li>Photography / Layout / Creative Direction</li>
      </ul>

      <a class='t-green link-space' href="http://thebornreadies.bandcamp.com/" target="_blank"> Listen To Them Rock!!! </a>

    </div>
    </div>


    <hr>

  </div>

</div>
