<div class="wgo-hero">
  <div class="wgo-container">

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>What's Going On?!</h2>
    <hr>
    <div class="text-container">

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        What's Going On is a collaborative project to bring you top news for trending tweets.
        in the area of your choice. Finding top trending tweets from the area selected
        and showing news articles on them.
        I was incharge of UI, UX and helped with integration of the api's.
      </p>
      <ul>
        <li>Ruby / HTML / CSS / Twitter API & oath / NPR API / Bing API / UI / UX</li>
      </ul>

      <a class='t-green link-space' href="https://cryptic-shore-4558.herokuapp.com/#index" target="_blank"> Visit the site </a>
      <a class='t-green' href="https://github.com/maclark999/4nonblondes" target="_blank"> Github </a>

    </div>
    </div>


    <hr>

  </div>

</div>
