<div class="wow-hero">
  <div class="wow-container">

  </div>
</div>

<div class="dark-bg no-margin">

  <div class="container">

    <h2>Workouts On Wheelz</h2>
    <hr>
    <div class="text-container">

    <div class="col-8-12 f-right resp-100">
      <p class='project-p'>
        Workouts On Wheelz is an up and coming personal training company in Atlanta
        that needed a site to help inform prospective clients on services and pricing.
        I designed a site with everything that was required. Found and modified a word press
        theme to meet the requirements in a cost effective way. 
      </p>
      <ul>
        <li>UI / UX / Web Development / Word Press / Branding</li>
      </ul>

      <a class='t-green link-space' href="http://workoutsonwheelz.com/" target="_blank"> Visit the site </a>

    </div>
    </div>


    <hr>

  </div>

</div>
