.cart-driver-hero{
  background-image: url('../images/cart-driver-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.cart-driver-container {
  position: relative;
  width: 400px;
  height: 50em;
  padding: 10% 0 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .cart-driver-container {
    height: 30em;
  }
}
