footer {
  background: $darkgray;
  width: 100%;
  height: 140px;
  position: absolute;
  margin: 0;
  padding: 15px 0 0 0;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: $gray;
}

a.foothov:hover {
  color: $green;
}

.container.footer {
  // margin: 0 0 0 0;
  padding: 0 8.3% 0 8.3%;

}


@media screen and (max-width: 900px) {
  .foot {
    margin: 0 8% 0 0;
  }

}

@media screen and (max-width: 486px) {
  .foot {
    margin: 0 16% 0 0;
  }


}
