.tbr-hero{
  background-image: url('../images/tbr-hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.tbr-container {
  position: relative;
  width: 400px;
  height: 50em;
  padding: 10% 0 0 0;
  margin: 0 auto;
}
