#slider-range-min{
  margin:100px;

}

.detri-hero {
  background-image: url(Detra-gnome-bgtest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.detri-bg {
  position: relative;
  width: 92%;
  height: 50em;
  padding: 20% 0 0 0;
  margin: 0 auto;
  opacity:.5;
}
