@mixin transform($arguments) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}

@mixin transition($arguments) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}

#slider-range-min{
  margin:100px;
  width: 50%;
}

.detri-hero {
  background-image: url(Detra-gnome-bgtest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.detri-bg {
  position: relative;
  width: 40%;
  height: 50em;
  padding: 20% 0 0 0;
  margin: 0 auto;
  // opacity:.5;
}

.eye-big {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 0px;
  @include transition(margin 0.0s);
}

.eye-left {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 0px;
  @include transition(margin 0.0s);
}
.eye-right {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 0px;
  @include transition(margin 0.0s);
}

.movement {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 0;
  @include transition(margin 0.0s);

}


.on-btn {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: red;
}
