.container {
  margin: 0 auto;
  max-width: 1508px;
  padding: 8.3% 8.3% 0 8.3%;
}

.grid {
  margin: 0 auto;


  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  // padding-right: 20px;
  .grid &:last-of-type {
    // padding-right: 0;
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-7-12 {
  width: 58.3%;
}

.col-8-12 {
  width: 66.6%;
}

.clear {
  float:none;
}

.f-right {
  float:right;
}

.big-box {
  position: relative;
  overflow: hidden;
  background: $green;
  margin: 3px;
}

figure {
  margin: 0;
  position: relative;
  float:left;
}

figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

// .hov {
//   -webkit-transition: all .5s ease-in-out;
//      -moz-transition: all .5s ease-in-out;
//        -o-transition: all .5s ease-in-out;
//       -ms-transition: all .5s ease-in-out;
//           transition: all .5s ease-in-out;
// }
//
// .hov:hover {
//   -webkit-filter: opacity(0.1);
// }


.big-box .mask, .big-box .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
  //  top: 0;
  //  left: 0;
}

.effect .mask {
   opacity: 0;
   padding: 30% 20%;
   text-align: center;
   transition: all 0.4s ease-in-out;
}

.effect:hover .mask {
   opacity:.9;
   background-color: #2c5148;
}

.small-box {
  position: relative;
  overflow: hidden;
  background: $green;
  margin: 3px;
}

.dark-bg {
  background: $darkgray;
  overflow: hidden;
  width: 100%;
  margin: 8.3% 0 0 0;
  height: auto;
}

.dark-bg-p {
  background: $darkgray;
  width: 100%;
  margin: 0 0 0 0;
  height: 100%;
}

hr {
  color: #FFFFFF;
  width: 100%;
}

ul {
  list-style: none;

}

li {
  display: inline-block;
  padding: 30px 0 4% 0;
  text-align:center;
}

.pad-b {
  padding-bottom: 8.3%;
}

.pad-r {
  padding-right: 8.3%;
}

.t-darkgray {
  color: $darkgray;
}
