#sidebar {
  display:none;
}

@media screen and (max-width: 700px) {
  body, html {
    // height: 100%;
    // margin: 0;
    // overflow: hidden;
  }

  #sidebar {
      position: fixed;
      width:35%;
      height: 2000px;
      background: $gray;
      float:left;
      // z-index:100;
  }

  .sidecontainer {
      position: relative;
      height: 100%;
      width: 100%;
      -webkit-box-shadow: -2px 0px 20px -4px rgba(112,153,136,1);
      -moz-box-shadow: -2px 0px 20px -4px rgba(112,153,136,1);
      box-shadow: -2px 0px 20px -4px rgba(112,153,136,1);
  }

  // #sidebar {
  //     display:inline-block;
  //     position: absolute;
  //     background: #DF314D;
  //     width: 240px;
  //     height: 100%;
  //   //   box-sizing: border-box;
  //   //  -moz-box-sizing: border-box;
  // }
  // #sidebar ul {
  //     margin: 0;
  //     padding: 0;
  //     list-style: none;
  // }
  // #sidebar ul li {
  //     margin: 0;
  // }
  // #sidebar ul li a {
  //     padding: 15px 20px;
  //     // font-size: 16px;
  //     font-weight: 100;
  //     color: white;
  //     text-decoration: none;
  //     display: block;
  //     // border-bottom: 1px solid #C9223D;
  //     -webkit-transition:  background 0.3s ease-in-out;
  //     -moz-transition:  background 0.3s ease-in-out;
  //     -ms-transition:  background 0.3s ease-in-out;
  //     -o-transition:  background 0.3s ease-in-out;
  //     transition:  background 0.3s ease-in-out;
  // }
  // #sidebar ul li:hover a {
  //     background: #C9223D;
  // }
}
