html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background-color: $gray;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  color: $gray;
}

p {
  margin-bottom: 1.3em;
  margin-top: 1.3em;

}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  color: $green;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1em;
  padding: 0 0 0 8.3%;
}

h2 {
  font-size: 2em;
  color: #05dba7;
  }

h3 {font-size: 1.2em;}

h4 {font-size: 1.414em;}

h5 {
  font-size: 1.7em;
  font-weight: 300;
  color: $darkgreen;
}

small, .font_small {font-size: 0.707em;}

.t-darkgray {
  color: $darkgray;
}

.t-green {
  color: $green;
  font-weight: 500;
}

.align-right{
  text-align: right;
}

.cap{
  line-height: 1.6em;
  font-size: 1.2em;
  color: $green;
}
