*, *:before, *:after {
  box-sizing: border-box;
}

@import "reset";
@import "colors";
@import "layout";
@import "type";
@import "header";
@import "footer";

.hlogo{
  margin: 0 auto;
  display: block;
}

.home-hero {
  background: #05dba7;
  width: 100%;
  // margin: 0 0 8.3% 0;
  padding: 15% 0 13% 0;
}

.project-hero {
  background: #05dba7;
  width: 100%;
  padding: 15% 0 15% 0;
}
