
html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  font-size: 1.1em;
  line-height: 1.25em;
  background: #f1f1f1;
}

.home-hero {
  background: #05dba7;
  height: 600px;
  width: 100%;
  margin: 0 0 8.3% 0;
  // height: 40em;
}

header {
  background: #05dba7;
  width: 100%;
  height: 120px;
  position: fixed;
  // z-index: 100;
}

footer {
  background: #333333;
  width: 100%;
  height: 140px;
  position: absolute;
  margin: 0;

}

a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1em;

}

a:hover {
  color: #f1f1f1;
}

a.foothov:hover {
  color: #05dba7;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 30px 0 4% 0;
  text-align:center;
  // height: 75px;
}

li.header {
  display: inline-block;
  padding: 35px 0 0 0;
  margin: 0 2% 0 0;
  text-align:center;
  color: #333333;
}

h3 {
  color: #05dba7;
  // padding: 0 0 .5% 0;
}

h2 {
  color: #05dba7;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1em;
  padding: 0 0 0 8.3%;
}

.container {
  margin: 0 auto;
  max-width: 1508px;
  padding: 0 8.3% 0 8.3%;
}

.grid {
  margin: auto 0;


  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  // padding-right: 20px;
  .grid &:last-of-type {
    // padding-right: 0;
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-7-12 {
  width: 58.3%;
}

.clear {
  float:none;
  color:red;
}

.f-right {
  float:right;
}

.big-box {
  padding: 20px;
  background: #333333;
  margin: 3px;
  height: 647px;
}

.small-box {
  padding: 20px;
  background: #333333;
  margin: 3px;
  height: 301px;
}

.dark-bg {
  background: #333333;
  width: 100%;
  margin: 8.3% 0 0 0;
  height: 900px;
}

.title-header {
  color: #05dba7;
  font-weight: 300;
  font-size: 2em;
  padding: 8.3% 0 0 0;
}

hr {
  color: #FFFFFF;
  width: 100%;
}

.t-grey {
  color: #333333;
}

.pad-b {
  padding-bottom: 8.3%;
}

.pad-r {
  padding-right: 8.3%;
}

.logo{
  margin: -8px auto;
  display: block;
}

// nav {
//   text-align: center;
//   margin: auto;
//
//   width: 50em;
// }

// @media (min-width: 768px) {
//   .nav {
//     width: 100%;
//     text-transform: uppercase;
//     z-index: 999999999;
//     position: fixed;
//     background: #05dba7;
//     top: 0;
//     -webkit-transition: -webkit-transform .5s;
//             transition: transform .5s;
//   }
// }

// #menu-icon {
//   display: hidden;
//   width: 40px;
//   height: 40px;
//   background: #05dba7 url(../img/menu-icon.png) center;
// }
//
// a:hover#menu-icon {
//   background-color: #444;
//   border-radius: 4px 4px 0 0;
// }
//


// li a.logo {
//     height:140px;
//     display:block;
//     width:215px;
//     margin-top:-61px;
//     padding: 0;
// }
//









// .hero {
//   background: url("herotest.jpg") no-repeat center;
//   background-size: cover;
//   height: 90%;
//   min-height: 500px;
// }
//
// .footer {
//   background-color: #F2F2F2;
//   text-align: left;
//   height: 96px;
//   -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
//   -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
//   box-shadow:-1px 1px 3px rgba(0,0,0,0.3);
// }
//
// h1 {
//   font-weight: 100;
// }
//
// .navbar-fixed-top{
//   background-color: #F2F2F2;
//   min-height: 50px;
//
//
// }
