@import "bootstrap-sprockets";
@import "bootstrap";


html{
  -webkit-font-smoothing: antialiased;
}

.hero {
  position: relative;
  z-index: 1;
  background: url("herotest.jpg") no-repeat center;
  background-size: cover;
  height: 90%;
  min-height: 500px;
}

.footer {
  background-color: black;
  text-align: left;
  height: 96px;
}

h1 {
  font-weight: 200;
}
